@media screen and (max-width: 1080px) {
    header {
        padding: 0 9%;
    }

    .header-logo {
        display: none;
    }
    
    .desktop-nav {
        display: none;
    }

    .mobile-nav {
        display: none;
        position: fixed;
        padding: 55px 20px 0;
        background-color: rgb(116, 116, 116);
        width: 100%;
        height: 230px;
        left: 0;
        top: 0;
    }

    .mobile-nav li {
        list-style: none;
        margin: 15px;
    }

    .mobile-nav a {
        text-decoration: none;
        color: #fff;
        font-size: 18px;
    }
    
    span.burger, span.burger::before, span.burger::after {
        display: block;
        position: absolute;
        width: 25px;
        height: 2px;
        background-color: #fff;
        z-index: 1;
    }

    span.burger::before {
        content: '';
        top: -8px;
    }

    span.burger::after {
        content: '';
        top: 8px;
    }

    .toggle-menu {
        display: block;
    }

    .news-item a {
        font-size: 16px;
    }

    .news-item i.fa {
        font-size: 20px;
    }

    .events .event-item {
        width: 49%;
        margin-bottom: 15px;
    }

}

@media screen and (max-width: 500px) {

    main {
        padding: 0 3%;
    }

    .title {
        font-size: 16px;
    }

    .news-item {
        padding-right: 60px;
    }

    .events .event-item {
        width: 100%;
    }

    #search {
        width: 130px;
    }

    #delete {
        right: 0;
    }

    #edit {
        right: 25px;
    }

    .news-item a {
        font-size: 14px;
    }
}

@media print {
    header, .topbg, #search, #add-news, i.fa {
        display: none;
    }

    hr {
        background: #000;
        height: 2px;
    }

    main {
        padding: 0 3%;
    }

    .news-item {
        width: 100%;
        padding: 0;
    }

    .events {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    a.event-item {
        width: 100%;
        padding: 20px;
        height: auto;
        background: none;
    }

    .events .event-item .desc {
        padding: 0;
    }

    .event-item .date {
        position: relative;
        top: 0;
        left: 0;
    }

    footer {
        background-color: #f1f1f1;
        color: #000;
    }
}